<h2>New Tweet!</h2>
<form class="tweet-compose" action="/tweets" method="POST">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <label>
    <textarea name="tweet[content]"></textarea>
  </label><span><strong class='chars-left'></strong> characters left</span>
  <br>
  <div class='mentioned-users'>
  </div>
  <br>
  <div class="add-mentioned-user">Add Mention</div>

  <script type="text/javascript">
    window.users = <%= render("users/users.json.jbuilder", users: User.all).html_safe %>;
  </script>

  <input type="Submit" value="Post Tweet!">
</form>
