.title {
  float: left;
  padding: 10px 20px;
}

.title a {
  text-decoration: none;
  color: white;
}

header {
  height: 70px;
  background-color: #800000;
}

div.right-stuff {
  float:right;
}

.front-modal h1 {
  text-align: center;
  padding-top: 30px;
}

.front-modal form {
  text-align: center;
  padding: 20px;
}

.front-modal a {
  text-align: center;
  display: block;
  text-decoration: none;
}

div.front-modal {
  width: 400px;
  margin: 0 auto;
  border: 2px solid grey;
  margin-top: 30px;
  height: 255px;
  background-color: #d6ebf2;
}

ul.primary-links {
  float: left;
}

ul.primary-links li {
  display: inline;
  float: right;
  margin-right: 12px;
}

ul.primary-links li h4 a {
  padding: 20px 20px 23px 20px;
}

ul li h4 a {
  color: white;
}

li a {
  text-decoration: none;
}

main {
  width: 600px;
  padding: 25px;
  border: 2px solid grey;
  margin: 25px 25px 25px 50px;
  background-color: #d6ebf2;
}

main h1 {
  padding: 20px 0px;
}

form.logout-form {
  float: right;
  padding: 20px;
}

a.fetch-more {
  margin-top: 16px;
  display: block;
}
